{% extends "partial/base.html" %}

{% block tite %}Category Page{% endblock %}
{% block page_heading %}Category Page{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-4">
      {% if user.user_type == "User" %}
      <p></p>
      {% else %}
      {% include "partial/sample_form.html" %}
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="row-md-4">
        <input type="submit" value="Download as CSV" onclick="download_table_as_csv('category');"
          style="color: white; background-color: #262f44; border-radius: 6px;" class="btn">
      </div>
      <h2>Category Table</h2>
      <table class="products container dt-responsive" id="category">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            {% if user.user_type == "User" %}
            <p></p>
            {% else %}
            <th>Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for category in user_categories %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ category.name }}</td>
            {% if user.user_type == "User" %}
            <td></td>
            {% else %}
            <td>
              <a href="{% url 'category-edit' category.id%}">Edit</a>
              <br>
              <a href="{% url 'category-delete' category.id%}" style="color: red;">Delete</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}