{% extends "partial/base.html" %}
{% block title %}Order Request Edit{% endblock %}
{% block page_heading %}
Order Request Edit
{%endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
      <div class="col-md-6">
        {% include "partial/sample_form.html" %}
        <a href="{% url 'order_request-index' %}">
            <input type="submit" value="Cancel" class="btn btn-danger" >
        </a>
      </div>
    </div>
  </div>
{% endblock %}