{% extends "partial/base.html" %}

{% block tite %}Order Page{% endblock %}
{% block page_heading %}Order Page{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <div class="row-md-4">
        <input type="submit" value="Download as CSV" onclick="download_table_as_csv('products');"
          style="color: white; background-color: #262f44; border-radius: 6px;" class="btn">
      </div>
      <h2>Order Table</h2>
      <table class="products container dt-responsive" id="products">
        <thead>
          <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Quantity</th>
            <th>Price Per unit</th>
            <th>Date And Time</th>
            <th>Amount</th>
            {% if user.user_type == "User" %}
            <th></th>
            {% else %}
            <th>Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{order.product.name}}</td>
            <td>{{order.product.category.name}}</td>
            <td>{{order.product.price_per_unit}}</td>
            <td>{{order.order_quantity}}</td>
            <td>{{order.date}}</td>
            <td>Rs {{order.total_amount}}</td>
            {% if user.user_type == "User" %}
            <td></td>
            {% else %}
            <td>
              <a href="{% url 'order-delete' order.id%}" style="color: red;">Delete</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}