{% extends "partial/base.html" %}

{% block tite %}Order Request Page{% endblock %}
{% block page_heading %}Order Request Page{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-4">
      {% include "partial/sample_form.html" %}
    </div>
    <div class="col-md-8">
      <div class="row-md-4">
        <input type="submit" value="Download as CSV" onclick="download_table_as_csv('products');"
          style="color: white; background-color: #262f44; border-radius: 6px;" class="btn">
      </div>
      <h2>Order Request Table</h2>
      <table class="products container dt-responsive" id="products">
        <thead>
          <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Quantity</th>
            <th>Date And Time</th>
            <th>Status</th>
            <th>Staff</th>
            <th>Amount</th>
            {% if user.user_type == "User" %}
            <th></th>
            {% else %}
            <th>Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for order_request in order_requests %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{order_request.product.name}}</td>
            <td>{{order_request.product.category.name}}</td>
            <td>{{order_request.order_quantity}}</td>
            <td>{{order_request.date}}</td>
            <td>{{order_request.status}}</td>
            <td>{{order_request.staff.name}}</td>
            <td>Rs {{order_request.total_amount}}</td>
            {% if user.user_type == "User" %}
            <td></td>
            {% else %}
            <td>
              <a href="{% url 'order_request-edit' order_request.id%}">Edit</a>
              <br>
              <a href="{% url 'order_request-delete' order_request.id%}" style="color: red;">Delete</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}