{% extends "partial/base.html" %}

{% block tite %}Product Page{% endblock %}
{% block page_heading %}Product Page{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-3">
      {% if user.user_type == "User" %}
      <p></p>
      {% else %}
      {% include "partial/sample_form.html" %}
      {% endif %}
      {% if user.user_type == "User" %}
      <p></p>
      {% else %}
      {% include "partial/sample_upload.html" %}
      {% endif %}
    </div>
    <div class="col-md-9">
      <div class="row-md-4">
        <input type="submit" value="Download as CSV" onclick="download_table_as_csv('category');"
          style="color: white; background-color: #262f44; border-radius: 6px;" class="btn">
      </div>
      <h2>Product Table</h2>
      <table class="products container dt-responsive" id="category">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price Per Unit</th>
            {% if user.user_type == "User" %}
            <th></th>
            {% else %}
            <th>Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price_per_unit }}</td>
            {% if user.user_type == "User" %}
            <td></td>
            {% else %}
            <td>
              <a href="{% url 'product-edit' product.id%} ">Edit</a>
              <br>
              <a href="{% url 'product-delete' product.id %}" style="color: red;">Delete</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}Name
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}