{% extends "partial/base.html" %}

{% block tite %}Staff{% endblock %}
{% block page_heading %}Staff{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-5">
      {% if user.user_type == "User" %}
      <p></p>
      {% else %}
      {% include "partial/sample_form.html" %}
      {% endif %}
    </div>
    <div class="col-md-7">
      <div class="row-md-4">
        <input type="submit" value="Download as CSV" onclick="download_table_as_csv('products');"
          style="color: white; background-color: #262f44; border-radius: 6px;" class="btn">
      </div>
      <h2>Staff Table</h2>
      <table class="products container dt-responsive" id="products">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>User Type</th>
            {% if user.user_type == "User" %}
            <th></th>
            {% else %}
            <th>Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for temp_user in curr_group_users %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{temp_user.name}}</td>
            <td>{{temp_user.username}}</td>
            <td>{{temp_user.email}}</td>
            <td>{{temp_user.phone}}</td>
            <td>{{temp_user.user_type}}</td>
            {% if user.user_type == "User" %}
            <td></td>
            {% else %}
            <td>
              <a href="{% url 'staff-edit' temp_user.id%}">Edit</a>
              <br>
              <a href="{% url 'staff-delete' temp_user.id%}" style="color: red;">Delete</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}