<section class='statis text-center'>
    <div class="container-fluid">
        <div class="row">
            <a href="{% url 'order_request-index' %}" style="text-decorations:none; color:inherit;"">
            <div class="col-md-3">
                <div class="box bg-primary">
                    <i class="fa fa-eye"></i>
                    <h3>5,154</h3>
                    <p class="lead">Pending Order Requests</p>
                </div>
            </div>
            </a>
            <a href="{% url 'staff-index' %}" style="text-decorations:none; color:inherit;"">
                <div class="col-md-3" href="">
                    <div class="box danger">
                        <i class="fa fa-user-o"></i>
                        <h3>245</h3>
                        <p class="lead">Staff</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'product-index' %}" style="text-decorations:none; color:inherit;"">
            <div class="col-md-3">
                <div class="box warning">
                    <i class="fa fa-shopping-cart"></i>
                    <h3>5,154</h3>
                    <p class="lead">Products</p>
                </div>
            </div>
            </a>
            <a href="{% url 'order-index' %}" style="text-decorations:none; color:inherit;"">
            <div class="col-md-3">
                <div class="box success">
                    <i class="fa fa-handshake-o"></i>
                    <h3>5,154</h3>
                    <p class="lead">Orders</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</section>
<section class="statis text-center">
    <div class="container-fluid">
        <div class="row">
            <a href="{% url 'category-index' %}" style="text-decorations:none; color:inherit;"">
            <div class="col-md-3">
                <div class="box warning">
                    <i class="fa fa-eye"></i>
                    <h3>5,154</h3>
                    <p class="lead">Categories</p>
                </div>
            </div>
            </a>    
        </div>
    </div>
</section>